@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Cairo:wght@600&family=Dancing+Script:wght@700&family=Kumbh+Sans:wght@500;700&family=La+Belle+Aurore&family=Public+Sans:wght@300;400;700&family=Red+Hat+Text:wght@700&family=Roboto:wght@500&display=swap');




body{
    /* background-image: linear-gradient(to top, orange, rgba(232, 118, 234, 0.169), hsla(168, 72%, 75%, 0.326)); */
    background-image: linear-gradient(to bottom right, indigo,  orange,  violet);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    justify-content: center;
    font-family: 'Public Sans', sans-serif;
    /* margin: 0px auto 0px auto; */
}
.arrow{
    background-color: rgba(0, 0, 0, 0.616);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-bottom: 2px;
    color: white;
    text-decoration: none;
}
.icons{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
}
.row3{
    text-align: center;
}
.hr{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.row6{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}
/* .icons{
    width: ;
} */